@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.contenedorP {
    background-image: url('../images/fondo3.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    display: inline-block;
    margin: 10px;
    background-color: rgba(255, 255, 255, .20);
    padding: 35px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}

.contenedor p {
    font-size: 20px;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.contenedor img {
    border-radius: 10px;
}

.back {
    font-size: 25px;
    border-radius: 20px;
    justify-content: flex-start;
    color: white;
    background-color: rgba(8, 227, 8, 0.77);
    padding: 10px 30px;
}

.back:hover {
    background-color: green;
}

.contenedorP a {
    text-decoration: none;
}



